.col-home-left input {
    width: 80%;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 60px;    
}

.picture-upload-display {
    width: 80%;
    min-height: 200px;
    border-radius: 8px;
    border: 1px solid lightgray;
    margin-top: 15px;
}

.picture-upload-display img {
    border-radius: 8px;
    width: 100%;
    border: 1px solid lightgray;    
}

.file-upload {
    margin-left: 8px;
}

.add-token-button {
    margin-top: 10px;
}

