/* CUSTOM CSS */

/* NAVBAR */
.navbar-nft {
  background: #ffffff;
  border-bottom: 2px solid;
  padding: 20px !important;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  font-size: 30px;
}
.nav-gravatar {
  width: 100px;
}

/* HOMEPAGE */

.app-description {
  font-size: 60px;
}

.btn-home {
  margin-right: 10px;
}

.col-left {
  margin: 50px
}
