/* CUSTOM CSS */

/* NAVBAR */
.navbar-nft {
  background: #ffffff;
  border-bottom: 2px solid;
  padding: 20px !important;
  margin-bottom: 30px;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  font-size: 30px;
}

.nav-gravatar {
  width: 100px;
}

/* HOMEPAGE */

.app-description {
  font-size: 60px;
}

.btn-home {
  margin-right: 10px;
}

.col-home-left, .col-home-right {
  margin-top: 70px;
}

.col-home-left > * {
  margin-top: 40px;
}

.col-home-right  h3 {
  border-bottom: 2px solid;
}

img.latest-exchange {
  width: 500px;
}

img.popular-items {
  width: 500px;
}

Button a {
  color: white;
  text-decoration: none;
}
